body {
  font-family: Arial, sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: white;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  -moz-outline-radius: 6px;
}
html[data-font-size='small'] {
  font-size: small;
}
html[data-font-size='medium'] {
  font-size: medium;
}
html[data-font-size='large'] {
  font-size: large;
}
.active {
  background-color: white;
  color: black;
}
.block-container {
  max-width: 1600px;
  position: relative;
  padding-left: 1em;
  padding-top: 2.5em;
}
.block-close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 24px;
  top: 30px;
}
.block-close__line {
  position: relative;
}
.block-close__line:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  background-color: black;
}
.block-close__line:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  background-color: black;
}
.block-name {
  font-size: 1em;
}
.block__element {
  display: flex;
  height: 2.125em;
  margin-bottom: 1em;
  background-color: #272423;
  color: white;
  border: 0.125em solid #272423;
  border-radius: 0.5em;
  box-sizing: border-box;
}
.block__element_mode {
  display: block;
  box-sizing: border-box;
  border: 0.125em solid #272423;
  border-radius: 0.5em;
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
}
.block__element_mode_standart {
  color: black;
  background-color: white;
}
.block__element_mode_inverse {
  background-color: #272423;
  color: white;
}
.block__element_mode_blue {
  background-color: lightskyblue;
  color: midnightblue;
  border: 0.125em solid lightskyblue;
}
.block__element_mode_small {
  padding: 0.125em 1.5em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_medium {
  padding: 0.125em 1.5em;
  font-size: 1.25em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_large {
  padding: 0.05em 1.4em;
  font-size: 1.5em;
  border-radius: 0.375em;
}
.block__element_mode_normal {
  padding: 0.125em 0.5em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_middle {
  padding: 0.125em 0.5em;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_big {
  padding: 0.125em 0.5em;
  font-size: 0.875em;
  letter-spacing: 0.2em;
  border-radius: 0.375em;
}
.block__element_mode_show {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_hide {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
}
.block__element_mode_sansserif {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_serif {
  font-family: Times New Roman, serif;
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
}
.block__element_mode_single {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_mid {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
  margin-right: 2px;
}
.block__element_mode_double {
  padding: 0.125em 0.6em;
  font-size: 0.875em;
  border-radius: 0.375em;
}
.title {
  margin-bottom: 0.5em;
}
.palette {
  background-color: initial;
  border: none;
}
.font-size {
  max-width: 13.45em;
}
.leter-spacing {
  max-width: 17.15em;
}
.img {
  max-width: 9.45em;
}
.font-type {
  max-width: 12.9em;
}
.line-height {
  max-width: 17.25em;
}
.active {
  background-color: white;
  color: black;
}
.block-regularversion {
  text-align: right;
  margin-right: 24px;
}
.block-regularversion__link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: black;
}
.block-regularversion__link:hover {
  color: black;
}
.block-regularversion__link:visited {
  color: black;
}
@media (min-width: 400px) and (max-width: 639px) {
  .block-container {
    padding-left: 26px;
  }
  .block-close {
    width: 24px;
    height: 24px;
    top: 32px;
  }
  .block-close__line:before {
    width: 24px;
  }
  .block-close__line:after {
    width: 24px;
  }
  .block-palette__btn {
    margin-bottom: 24px;
  }
  .block-palette__standart {
    width: 134px;
    height: 36px;
    font-size: 16px;
    padding: 6px 16px;
    margin-right: 16px;
  }
  .block-palette__inverse {
    width: 110px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
    margin-right: 16px;
  }
  .block-palette__blue {
    width: 80px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__btn {
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-size__small {
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__medium {
    height: 40px;
    padding: 4px 16px;
    font-size: 24px;
  }
  .block-font-size__large {
    height: 40px;
    padding: auto 16px;
    font-size: 32px;
  }
  .block-letter-spacing__btn {
    width: 356px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-letter-spacing__small {
    width: 108px;
    height: 40px;
    padding: 6px 16px;
    font-size: 14px;
  }
  .block-letter-spacing__medium {
    width: 122px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-letter-spacing__large {
    width: 122px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__btn {
    width: 200px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-img__show {
    width: 104px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__hide {
    width: 96px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__btn {
    width: 260px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-type__sansserif {
    width: 126px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__serif {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
  }
  .block-line-height__btn {
    width: 354px;
    height: 40px;
  }
  .block-line-height__single {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__middle {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__double {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .block-container {
    padding-left: 80px;
  }
  .block-close {
    width: 24px;
    height: 24px;
    right: 40px;
    top: 44px;
  }
  .block-close__line:before {
    width: 24px;
  }
  .block-close__line:after {
    width: 24px;
  }
  .block-palette__btn {
    margin-bottom: 24px;
  }
  .block-palette__standart {
    width: 134px;
    height: 36px;
    font-size: 16px;
    padding: 6px 16px;
    margin-right: 16px;
  }
  .block-palette__inverse {
    width: 110px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
    margin-right: 16px;
  }
  .block-palette__blue {
    width: 80px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__btn {
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-size__small {
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__medium {
    height: 40px;
    padding: 4px 16px;
    font-size: 24px;
  }
  .block-font-size__large {
    height: 40px;
    padding: auto 16px;
    font-size: 32px;
  }
  .block-letter-spacing__btn {
    width: 414px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-letter-spacing__small {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
    font-size: 14px;
  }
  .block-letter-spacing__medium {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-letter-spacing__large {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__btn {
    width: 200px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-img__show {
    width: 104px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__hide {
    width: 96px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__btn {
    width: 260px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-type__sansserif {
    width: 126px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__serif {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
  }
  .block-line-height__btn {
    width: 354px;
    height: 40px;
  }
  .block-line-height__single {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__middle {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__double {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-regularversion {
    margin-right: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .block-container {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    padding-left: 80px;
  }
  .block-close {
    width: 24px;
    height: 24px;
    right: 40px;
    top: 52px;
  }
  .block-close__line:before {
    width: 24px;
  }
  .block-close__line:after {
    width: 24px;
  }
  .block-palette__btn {
    margin-bottom: 26px;
    margin-right: 64px;
  }
  .block-palette__standart {
    width: 134px;
    height: 36px;
    font-size: 16px;
    padding: 6px 16px;
    margin-right: 16px;
  }
  .block-palette__inverse {
    width: 110px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
    margin-right: 16px;
  }
  .block-palette__blue {
    width: 80px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__btn {
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-size__small {
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__medium {
    height: 40px;
    padding: 4px 16px;
    font-size: 24px;
  }
  .block-font-size__large {
    height: 40px;
    padding: auto 16px;
    font-size: 32px;
  }
  .block-letter-spacing__btn {
    width: 414px;
    height: 40px;
    margin-bottom: 24px;
    margin-right: 64px;
  }
  .block-letter-spacing__small {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
    font-size: 14px;
  }
  .block-letter-spacing__medium {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-letter-spacing__large {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__btn {
    width: 200px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-img__show {
    width: 104px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__hide {
    width: 96px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__btn {
    width: 260px;
    height: 40px;
    margin-bottom: 24px;
    margin-right: 64px;
  }
  .block-font-type__sansserif {
    width: 126px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__serif {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
  }
  .block-line-height__btn {
    width: 354px;
    height: 40px;
  }
  .block-line-height__single {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__middle {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__double {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-regularversion {
    position: absolute;
    margin-right: initial;
    top: 340px;
    right: 40px;
  }
}
@media (min-width: 1440px) {
  .block-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 354px 264px 416px;
    grid-column-gap: 66px;
    width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
  }
  .block-close {
    width: 24px;
    height: 24px;
    left: initial;
    right: 40px;
    top: 52px;
  }
  .block-close__line:before {
    width: 24px;
  }
  .block-close__line:after {
    width: 24px;
  }
  .block-palette__btn {
    margin-bottom: 26px;
    margin-right: 64px;
  }
  .block-palette__standart {
    width: 134px;
    height: 36px;
    font-size: 16px;
    padding: 6px 16px;
    margin-right: 16px;
  }
  .block-palette__inverse {
    width: 110px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
    margin-right: 16px;
  }
  .block-palette__blue {
    width: 80px;
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__btn {
    height: 40px;
    margin-bottom: 24px;
  }
  .block-font-size__small {
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-size__medium {
    height: 40px;
    padding: 4px 16px;
    font-size: 24px;
  }
  .block-font-size__large {
    height: 40px;
    padding: auto 16px;
    font-size: 32px;
  }
  .block-letter-spacing__btn {
    width: 414px;
    height: 40px;
    margin-bottom: 24px;
    margin-right: 64px;
  }
  .block-letter-spacing__small {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
    font-size: 14px;
  }
  .block-letter-spacing__medium {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-letter-spacing__large {
    width: 140px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__btn {
    width: 200px;
    height: 40px;
    margin-bottom: 24px;
  }
  .block-img__show {
    width: 104px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-img__hide {
    width: 96px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__btn {
    width: 260px;
    height: 40px;
    margin-bottom: 24px;
    margin-right: 64px;
  }
  .block-font-type__sansserif {
    width: 126px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-font-type__serif {
    width: 134px;
    height: 40px;
    padding: 6px 16px;
  }
  .block-line-height__btn {
    width: 354px;
    height: 40px;
  }
  .block-line-height__single {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__middle {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-line-height__double {
    width: 118px;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
  }
  .block-regularversion {
    position: absolute;
    top: 240px;
    right: 40px;
    margin-right: initial;
  }
}
