body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: white;
}
a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
html[data-font-size='small'] {
  font-size: small;
}
html[data-font-size='medium'] {
  font-size: medium;
}
html[data-font-size='large'] {
  font-size: large;
}
.spacial-panel-container {
  max-width: 1600px;
  position: relative;
  padding-left: 1.12em;
  padding-top: 2.8em;
}
.spacial-panel-close {
  position: absolute;
  width: 19px;
  height: 16px;
  right: 24px;
  top: 31px;
}
.spacial-panel-close__line {
  position: relative;
}
.spacial-panel-close__line:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  background-color: black;
}
.spacial-panel-close__line:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  background-color: black;
}
.spacial-panel-name {
  font-size: 1em;
  margin-bottom: 0.55em;
}
.spacial-panel-block-button {
  margin-bottom: 1.3em;
}
.spacial-panel-block-button__element {
  display: inline-flex;
  align-items: baseline;
  background-color: #272423;
  color: white;
  border: 0.125em solid #272423;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.4em 0.1em;
  line-height: 1;
}
.spacial-panel-block-button__element_standart {
  color: black;
  background-color: white;
  margin-right: 3px;
}
.spacial-panel-block-button__element_standart:before {
  content: attr(data-text-palette-standart);
}
.spacial-panel-block-button__element_inverse {
  background-color: #272423;
  color: white;
  margin-right: 5px;
}
.spacial-panel-block-button__element_blue {
  background-color: #a8d1fb;
  color: midnightblue;
  border: 0.125em solid #a8d1fb;
  padding: 0.4em 0.3em;
}
.spacial-panel-long-block-button {
  display: inline-flex;
  margin-bottom: 1.3em;
  background-color: #272423;
  color: white;
  border: 0.125em solid #272423;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
}
.spacial-panel-long-block-button__element {
  padding: 0.4em 0.35em;
  font-size: 1em;
  border-radius: 6px;
  line-height: 1;
}
.spacial-panel-long-block-button__element_small {
  padding: 0.25em 1.9em;
  font-size: 0.875em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_medium {
  padding: 0.2em 1.1em;
  font-size: 1.25em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_large {
  padding: 0 1.05em;
  font-size: 1.5em;
}
.spacial-panel-long-block-button__element_normal {
  font-size: 1em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_normal:before {
  content: attr(data-text-ltr-spacing-standart);
}
.spacial-panel-long-block-button__element_middle {
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_middle:before {
  content: attr(data-text-ltr-spacing-middle);
}
.spacial-panel-long-block-button__element_big {
  font-size: 1em;
  letter-spacing: 0.12em;
}
.spacial-panel-long-block-button__element_show {
  font-size: 1em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_hide {
  font-size: 1em;
}
.spacial-panel-long-block-button__element_sansserif {
  font-size: 1em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_serif {
  font-family: Times New Roman, serif;
  padding: 0.25em 0.5em;
  font-size: 1em;
}
.spacial-panel-long-block-button__element_single {
  font-size: 1em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_mid {
  font-size: 1em;
  margin-right: 2px;
}
.spacial-panel-long-block-button__element_double {
  font-size: 1em;
}
.active {
  background-color: white;
  color: black;
}
.spacial-panel-regularversion {
  text-align: right;
  margin-top: 6px;
  margin-right: 1.5em;
}
.spacial-panel-regularversion__link {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  color: black;
}
.spacial-panel-regularversion__link:hover {
  color: black;
  text-decoration: underline;
}
.invert {
  background-color: #272423;
}
.invert-active {
  background-color: #272423;
  color: white;
  border: 0.125em solid white;
}
.spacial-panel-block-button__element_inverse_invert {
  border: 0.125em solid white;
}
.spacial-panel-name_invert {
  color: white;
}
.spacial-panel-long-block-button_invert {
  background-color: white;
  color: black;
}
.spacial-panel-regularversion__link_invert {
  color: white;
}
.spacial-panel-regularversion__link_invert:hover {
  color: white;
  text-decoration: underline;
}
.invert-blue {
  background-color: #a8d1fb;
}
.invert-blue-active {
  background-color: #a8d1fb;
  color: midnightblue;
}
.spacial-panel-name_blue {
  color: #183762;
}
.spacial-panel-long-block-button_blue {
  background-color: #183762;
  color: white;
  border: 0.125em solid #183762;
}
.spacial-panel-block-button__element_standart_invert-blue {
  border: 0.125em solid white;
}
.spacial-panel-block-button__element_inverse_invert-blue {
  background-color: #183762;
  color: white;
  border: 0.125em solid #183762;
}
.spacial-panel-block-button__element_blue_invert-blue {
  border: 0.125em solid #183762;
}
.spacial-panel-regularversion__link_blue {
  color: white;
}
.spacial-panel-regularversion__link_blue:hover {
  color: white;
  text-decoration: underline;
}
@media (min-width: 400px) and (max-width: 639px) {
  .spacial-panel-container {
    padding-left: 1.5em;
  }
  .spacial-panel-close {
    width: 24px;
    height: 24px;
    right: 1.5em;
    top: 32px;
  }
  .spacial-panel-close__line:before {
    width: 33px;
  }
  .spacial-panel-close__line:after {
    width: 33px;
  }
  .spacial-panel-close {
    width: 24px;
    height: 24px;
    right: 28px;
    top: 35px;
  }
  .spacial-panel-close__line:before {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-close__line:after {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-name {
    margin-bottom: 0.6em;
  }
  .spacial-panel-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-block-button__element {
    padding: 0.6em 1.1em;
  }
  .spacial-panel-block-button__element_standart {
    margin-right: 9px;
  }
  .spacial-panel-block-button__element_standart:before {
    content: attr(data-text-palette-standart);
  }
  .spacial-panel-block-button__element_inverse {
    background-color: #272423;
    color: white;
    margin-right: 10px;
  }
  .spacial-panel-block-button__element_blue {
    padding: 0.6em 0.9em;
  }
  .spacial-panel-long-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-long-block-button__element {
    padding: 0.6em 1.18em;
  }
  .spacial-panel-long-block-button__element_small {
    padding: 0.8em 1.9em;
  }
  .spacial-panel-long-block-button__element_medium {
    padding: 0.2em 1.15em;
  }
  .spacial-panel-long-block-button__element_large {
    padding: 0 0.7em;
    font-size: 2em;
  }
  .spacial-panel-long-block-button__element_normal:before {
    content: attr(data-text-ltr-spacing-standart);
  }
  .spacial-panel-long-block-button__element_middle:before {
    content: attr(data-text-ltr-spacing-middle);
  }
  .spacial-panel-long-block-button__element_hide {
    padding: 0.25em 1em;
  }
  .spacial-panel-long-block-button__element_serif {
    padding: 0.25em 1em;
    font-size: 1.1em;
  }
  .spacial-panel-regularversion {
    text-align: right;
    margin-right: 1.5em;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .spacial-panel-container {
    padding-left: 5em;
  }
  .spacial-panel-close {
    width: 24px;
    height: 24px;
    right: 44px;
    top: 47px;
  }
  .spacial-panel-close__line:before {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-close__line:after {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-name {
    margin-bottom: 0.6em;
  }
  .spacial-panel-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-block-button__element {
    padding: 0.6em 1.1em;
  }
  .spacial-panel-block-button__element_standart {
    margin-right: 9px;
  }
  .spacial-panel-block-button__element_standart:before {
    content: attr(data-text-palette-standart);
  }
  .spacial-panel-block-button__element_inverse {
    background-color: #272423;
    color: white;
    margin-right: 10px;
  }
  .spacial-panel-block-button__element_blue {
    padding: 0.6em 0.9em;
  }
  .spacial-panel-long-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-long-block-button__element {
    padding: 0.6em 1.18em;
  }
  .spacial-panel-long-block-button__element_small {
    padding: 0.8em 1.9em;
  }
  .spacial-panel-long-block-button__element_medium {
    padding: 0.2em 1.15em;
  }
  .spacial-panel-long-block-button__element_large {
    padding: 0 0.7em;
    font-size: 2em;
  }
  .spacial-panel-long-block-button__element_normal:before {
    content: attr(data-text-ltr-spacing-standart);
  }
  .spacial-panel-long-block-button__element_middle {
    letter-spacing: 0.07em;
  }
  .spacial-panel-long-block-button__element_middle:before {
    content: attr(data-text-ltr-spacing-middle);
  }
  .spacial-panel-long-block-button__element_hide {
    padding: 0.25em 1em;
  }
  .spacial-panel-long-block-button__element_serif {
    padding: 0.25em 1em;
    font-size: 1.1em;
  }
  .spacial-panel-regularversion {
    text-align: right;
    margin-right: 2.5em;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .spacial-panel-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
  }
  .spacial-panel-close {
    width: 24px;
    height: 24px;
    right: 44px;
    top: 55px;
  }
  .spacial-panel-close__line:before {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-close__line:after {
    width: 33px;
    height: 3px;
  }
  .spacial-panel-name {
    margin-bottom: 0.6em;
  }
  .spacial-panel-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-block-button__element {
    padding: 0.6em 1.1em;
  }
  .spacial-panel-block-button__element_standart {
    margin-right: 9px;
  }
  .spacial-panel-block-button__element_standart:before {
    content: attr(data-text-palette-standart);
  }
  .spacial-panel-block-button__element_inverse {
    margin-right: 10px;
  }
  .spacial-panel-block-button__element_blue {
    padding: 0.6em 0.9em;
    margin-right: 4.2em;
  }
  .spacial-panel-long-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-long-block-button:nth-child(2) {
    margin-right: 3.75em;
  }
  .spacial-panel-long-block-button__element {
    padding: 0.6em 1.18em;
  }
  .spacial-panel-long-block-button__element_small {
    padding: 0.8em 1.9em;
  }
  .spacial-panel-long-block-button__element_medium {
    padding: 0.2em 1.15em;
  }
  .spacial-panel-long-block-button__element_large {
    padding: 0 0.7em;
    font-size: 2em;
  }
  .spacial-panel-long-block-button__element_normal:before {
    content: attr(data-text-ltr-spacing-standart);
  }
  .spacial-panel-long-block-button__element_middle {
    letter-spacing: 0.06em;
  }
  .spacial-panel-long-block-button__element_middle:before {
    content: attr(data-text-ltr-spacing-middle);
  }
  .spacial-panel-long-block-button__element_hide {
    padding: 0.25em 1em;
  }
  .spacial-panel-long-block-button__element_serif {
    padding: 0.25em 1em;
    font-size: 1.1em;
  }
  .spacial-panel-regularversion {
    position: absolute;
    text-align: right;
    margin-right: 2.5em;
    right: 0px;
    top: 331px;
  }
}
@media (min-width: 1440px) {
  .spacial-panel-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 422px 320px 410px;
    grid-row-gap: 7px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    box-sizing: border-box;
  }
  .spacial-panel-close {
    width: 24px;
    height: 24px;
    right: 44px;
    top: 51px;
  }
  .spacial-panel-close__line:before {
    width: 33px;
  }
  .spacial-panel-close__line:after {
    width: 33px;
  }
  .spacial-panel-name {
    margin-bottom: 0.6em;
  }
  .spacial-panel-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-block-button__element {
    padding: 0.6em 1.1em;
  }
  .spacial-panel-block-button__element_standart {
    margin-right: 9px;
  }
  .spacial-panel-block-button__element_standart:before {
    content: attr(data-text-palette-standart);
  }
  .spacial-panel-block-button__element_inverse {
    margin-right: 10px;
  }
  .spacial-panel-block-button__element_blue {
    padding: 0.6em 0.9em;
    margin-right: 4.2em;
  }
  .spacial-panel-long-block-button {
    margin-bottom: 1.8em;
  }
  .spacial-panel-long-block-button:nth-child(2) {
    margin-right: 3.75em;
  }
  .spacial-panel-long-block-button__element {
    padding: 0.6em 1.18em;
  }
  .spacial-panel-long-block-button__element_small {
    padding: 0.8em 1.9em;
  }
  .spacial-panel-long-block-button__element_medium {
    padding: 0.2em 1.15em;
  }
  .spacial-panel-long-block-button__element_large {
    padding: 0 0.7em;
    font-size: 2em;
  }
  .spacial-panel-long-block-button__element_normal:before {
    content: attr(data-text-ltr-spacing-standart);
  }
  .spacial-panel-long-block-button__element_middle {
    letter-spacing: 0.06em;
  }
  .spacial-panel-long-block-button__element_middle:before {
    content: attr(data-text-ltr-spacing-middle);
  }
  .spacial-panel-long-block-button__element_hide {
    padding: 0.25em 1em;
  }
  .spacial-panel-long-block-button__element_serif {
    padding: 0.25em 1em;
    font-size: 1.1em;
  }
  .spacial-panel-regularversion {
    position: absolute;
    right: 16px;
    top: 244px;
  }
}
