# будут игнорироваться все файлы и 
# вне зависимости от того, в каком 
Thumbs.db

# будет игнорироваться каталог tmp
# вне зависимости от того, в каком
# слэш в конце указывает, что это каталог 
tmp/

# будет игнорироваться относительно файла .gitingore 
# чаще всего относительно всего проекта
/tmp/

# будут игнорироваться все файлы и каталоги с расширением .txt 
# вне зависимости от того, в каком каталоге они находятся 
*.txt
.idea
.vscode/

#служебные папки компилятора
scripts/dist/
dist/

#макеты
layout/