@bgcWhite: white;
@bgcBlack: #272423;
@fontColorBlack: black;
@fontColorWhite: white;
@fontColorBlue: midnightblue;
@backgroundBlue: #a8d1fb;
@bgcInvertBlue: #183762;

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 320px;
    margin: 0;
    padding: 0;
    background-color: @bgcWhite;
}
a {
    text-decoration: none;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

html[data-font-size='small'] {
    font-size: small;
}

html[data-font-size='medium'] {
    font-size: medium;
}

html[data-font-size='large'] {
    font-size: large;
}

.block-container {
    max-width: 1600px;
    position: relative;
    padding-left: 1em;
    padding-top: 2.5em;
}

.block-close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 24px;
    top: 30px;

    &__line {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 22px;
            height: 2px;
            left: 0;
            top: 0;
            transform: rotate(45deg);
            background-color: black;
        }

        &:after {
            content: '';
            position: absolute;
            width: 22px;
            height: 2px;
            left: 0;
            top: 0;
            transform: rotate(-45deg);
            background-color: black;
        }
    }
}

.block {
    &-name {
        font-size: 1em;
    }

    &__element {
        display: inline-flex;
        height: 2.125em;
        margin-bottom: 1em;
        background-color: @bgcBlack;
        color: @fontColorWhite;
        border: 0.125em solid @bgcBlack;
        border-radius: 0.5em;
        box-sizing: border-box;
    }

    &__element_mode {
        box-sizing: border-box;
        border: 0.125em solid @bgcBlack;
        border-radius: 0.5em;
        font-size: 1em;
        padding: 0.25em 0.5em;
        margin-right: 0.5em;

        &_standart {
            color: @fontColorBlack;
            background-color: @bgcWhite;

            &:before {
                content: attr(data-text-palette-standart);
            }
        }

        &_inverse {
            background-color: @bgcBlack;
            color: @fontColorWhite;
        }

        &_blue {
            background-color: @backgroundBlue;
            color: @fontColorBlue;
            border: 0.125em solid @backgroundBlue;
        }

        &_small {
            padding: 0.125em 1.5em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;
        }

        &_medium {
            padding: 0.125em 1.5em;
            font-size: 1.25em;
            border-radius: 6px;
            margin-right: 2px;
        }

        &_large {
            padding: 0.05em 1.4em;
            font-size: 1.5em;
            border-radius: 6px;
        }

        &_normal {
            padding: 0.125em 0.5em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;

            &:before {
                content: attr(data-text-ltr-spacing-standart);
            }
        }

        &_middle {
            padding: 0.125em 0.5em;
            font-size: 0.875em;
            letter-spacing: 0.1em;
            border-radius: 6px;
            margin-right: 2px;

            &:before {
                content: attr(data-text-ltr-spacing-middle);
            }
        }

        &_big {
            padding: 0.125em 0.5em;
            font-size: 0.875em;
            letter-spacing: 0.2em;
            border-radius: 6px;
        }

        &_show {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;
        }

        &_hide {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
        }

        &_sansserif {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;
        }

        &_serif {
            font-family: Times New Roman, serif;
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
        }

        &_single {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;

        }

        &_mid {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
            margin-right: 2px;

        }

        &_double {
            padding: 0.125em 0.6em;
            font-size: 0.875em;
            border-radius: 6px;
        }
    }
}

.title {
    margin-bottom: 0.5em;
}

.palette {
    background-color: initial;
    border: none;
}

.active {
    background-color: @bgcWhite;
    color: @fontColorBlack;
}

.block-regularversion {
    text-align: right;
    margin-right: 1.5em;
    &__link {
        font-family: Roboto, sans-serif;
        font-size: 1em;
        color: @fontColorBlack;

        &:hover {
            color: @fontColorBlack;            
            text-decoration: underline;
            
        }

        &:visited {
            color: @bgcInvertBlue;
        }
    }
}

//============ классы для режима инверсии

.invert {
    background-color: @bgcBlack;
}

.invert-active {
    background-color: @bgcBlack;
    color: @fontColorWhite;
    border: 0.125em solid @bgcWhite;
}

.invert-title {
    color: @fontColorWhite;
}

.invert-element {
    background-color: @bgcWhite;
    color: @fontColorBlack;
}

//==================================
//============ классы для режима blue
.invert-blue {
    background-color: @backgroundBlue;
}

.invert-blue-active {
    background-color: @backgroundBlue;
    color: @fontColorBlue;
    border: 0.125em solid @fontColorBlue;
}

.invert-blue-title {
    color: @bgcInvertBlue;
}

.invert-blue-element {
    background-color: @bgcInvertBlue;
    color: @fontColorWhite;
    border: 0.125em solid @bgcInvertBlue;
}
//==================================

//медиа
@media (min-width: 400px) and (max-width: 639px) {
    .block-container {
        padding-left: 1.625em;
    }

    .block-close {
        width: 24px;
        height: 24px;
        right: 1.5em;
        top: 32px;

        &__line {
            &:before {
                width: 33px;
            }

            &:after {
                width: 33px;
            }
        }
    }

    .block {
        &-name {
            font-size: 1em;
        }

        &__element {
            height: 2.375em;
            margin-bottom: 1.625em;
        }

        &__element_mode {
            padding: 0.375em 1em;
            margin-right: 1em;

            &_small {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_medium {
                padding: 0.125em 1em;
                font-size: 1.5em;
            }

            &_large {
                padding: 0 1em;
                font-size: 2em;
            }

            &_normal {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_middle {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.1em;
            }

            &_big {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.2em;
            }

            &_show {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_hide {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_sansserif {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_serif {
                font-family: Times New Roman, serif;
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_single {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_mid {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_double {
                padding: 0.375em 1em;
                font-size: 1em;
            }
        }
    }

    .block-regularversion {
        text-align: right;
        margin-right: 1.5em;
    }

}

@media (min-width: 640px) and (max-width: 1023px) {
    .block-container {
        padding-left: 5em;
    }

    .block-close {
        width: 24px;
        height: 24px;
        right: 2.5em;
        top: 32px;

        &__line {
            &:before {
                width: 33px;
            }

            &:after {
                width: 33px;
            }
        }
    }

    .block {
        &-name {
            font-size: 1em;
        }

        &__element {
            height: 2.375em;
            margin-bottom: 1.625em;
        }

        &__element_mode {
            padding: 0.375em 1em;
            margin-right: 1em;

            &_small {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_medium {
                padding: 0.125em 1em;
                font-size: 1.5em;
            }

            &_large {
                padding: 0 1em;
                font-size: 2em;
            }

            &_normal {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_middle {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.1em;
            }

            &_big {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.2em;
            }

            &_show {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_hide {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_sansserif {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_serif {
                font-family: Times New Roman, serif;
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_single {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_mid {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_double {
                padding: 0.375em 1em;
                font-size: 1em;
            }
        }
    }

    .block-regularversion {
        text-align: right;
        margin-right: 2.5em;
    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .block-container {
        display: flex;
        flex-wrap: wrap;
        width: 760px;
        padding-left: 80px;
    }

    .block-close {
        width: 24px;
        height: 24px;
        right: 2.5em;
        top: 32px;

        &__line {
            &:before {
                width: 33px;
            }

            &:after {
                width: 33px;
            }
        }
    }

    .block {
        &:nth-child(4) {
            margin-right: 4em;
        }

        &:nth-child(6) {
            margin-right: 4em;
        }

        &-name {
            font-size: 1em;
        }

        &__element {
            height: 2.375em;
            margin-bottom: 1.625em;
        }

        &__element_mode {
            padding: 0.375em 1em;
            margin-right: 1em;

            &_blue {
                margin-right: 4em;
            }

            &_small {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_medium {
                padding: 0.125em 1em;
                font-size: 1.5em;
            }

            &_large {
                padding: 0 1em;
                font-size: 2em;
            }

            &_normal {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_middle {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.1em;
            }

            &_big {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.2em;
            }

            &_show {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_hide {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_sansserif {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_serif {
                font-family: Times New Roman, serif;
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_single {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_mid {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_double {
                padding: 0.375em 1em;
                font-size: 1em;
            }
        }
    }

    .block-regularversion {
        text-align: right;
        margin-right: 2.5em;
    }
}

@media (min-width: 1440px) {
    .block-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 360px 310px 410px;
        grid-column-gap: 65px;
        width: 1440px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 80px;
        box-sizing: border-box;
    }
    .block-close {
        width: 24px;
        height: 24px;
        right: 2.5em;
        top: 32px;

        &__line {
            &:before {
                width: 33px;
            }

            &:after {
                width: 33px;
            }
        }
    }

    .block {
        &:nth-child(4) {
            margin-right: 4em;
        }

        &:nth-child(6) {
            margin-right: 4em;
        }

        &-name {
            font-size: 1em;
        }

        &__element {
            height: 2.375em;
            margin-bottom: 1.625em;
        }

        &__element_mode {
            padding: 0.375em 1em;
            margin-right: 1em;

            &_blue {
                margin-right: 4em;
            }

            &_small {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_medium {
                padding: 0.125em 1em;
                font-size: 1.5em;
            }

            &_large {
                padding: 0 1em;
                font-size: 2em;
            }

            &_normal {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_middle {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.1em;
            }

            &_big {
                padding: 0.375em 1em;
                font-size: 1em;
                letter-spacing: 0.2em;
            }

            &_show {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_hide {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_sansserif {
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_serif {
                font-family: Times New Roman, serif;
                padding: 0.375em 1em;
                font-size: 1em;
            }

            &_single {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_mid {
                padding: 0.375em 1em;
                font-size: 1em;

            }

            &_double {
                padding: 0.375em 1em;
                font-size: 1em;
            }
        }
    }
    .block-regularversion {
        position: absolute;
        top: 240px;
        right: 40px;
        margin-right: initial;
    }
}
//медиа